@page "/"

<h1>Spillekonsoller</h1>

Spillekonsoller kan være tidsfordriv, seriøs gaming eller en samlende familieaktivitet. 
Hos os har vi et bredt udvalg af spillekonsoller fra nogle af markedets absolut største, mest solgte og mest populære producenter, 
herunder Sonys PlayStation 4 / PS4, PlayStation 5 / PS5, Nintendo, Microsofts Xbox og mange flere.
